.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
  max-height: 550px;
  overflow: hidden;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -30%);
  font-size: 18px;
  padding: 0 0.5em;
  width: 90%;
}

.heroHeadline {
  margin: 0;
  text-shadow: 0 0 0 transparent, 2px 2px 0 rgb(0 0 0 / 20%);
  font-weight: bold;
  font-size: 75px;
}

.heroTitle {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0 transparent, 2px 2px 0 rgb(0 0 0 / 20%);
}

.shortBio {
  margin: 0;
  text-shadow: 0 0 0 transparent, 2px 2px 0 rgb(0 0 0 / 20%);
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
    transform: translate(-50%, -10%);
  }
  .heroHeadline {
    font-size: 100px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 26px;
  }
  .heroHeadline {
    font-size: 150px;
  }
}
